.first-screen
  .container
    .first-screen__inner
      .first-screen__text
        h1 Falcon Heavy
        p.subheading-1 The most powerful operational rocket in the world by a factor of two
        .first-screen__line
      .first-screen__parallax-inner
        img.first-screen__parallax-elem(src=require('Img/Earth.png'))
