@import 'Components/logo/logo.scss';
@import './burger-menu-button/burger-menu-button';
@import './burger-menu/burger-menu.scss';

.header {

  &__inner {
    margin: 53px 0 53px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include tabletPortrait {
      margin: 32px 0 32px;
    }

    @include smartphone {
      margin: 24px 0 24px;
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    column-gap: 20px;

    @include tabletPortrait {
      flex-direction: column;
      row-gap: 32px;
    }
  }

  &__nav-item {
    @media (hover: hover) {
      &:hover {
        @include a-hover;
      }
    }

    &:active {
      @include active;
    }
  }

  &__center-nav {
    @include tabletPortrait {
      margin-bottom: 60px;
    }
  }

  &__right-nav{
    a {
      color: $secondaryText;
    }
  }
}
