.burger-menu.burger-menu_hidden
  .burger-menu__inner
    .burger-menu__content
      .burger-menu__center-nav-container#center-nav-container
      .burger-menu__right-nav-container#right-nav-container
  .burger-menu__close-btn
    include Icons/close.pug





