.second-screen
  .container
    .second-screen__inner

      .second-screen__block.characteristics
        h3.characteristics__title.second-screen__block-title Falcon Heavy Overview
        .characteristics__table
          template(id='characteristics-row')
            .characteristics__row
              .characteristics__name.characteristic
              .characteristics__item
                .characteristics__metr.characteristic
                .characteristics__lat.characteristic

      .second-screen__block.performance
        h3.performance__title.second-screen__block-title UNMATCHED PERFORMANCE
        p.performance__text With more than 5 million pounds of thrust at liftoff, Falcon Heavy is the most capable rocket flying. By comparison, the liftoff thrust of the Falcon Heavy equals approximately eighteen 747 aircraft at full power. Falcon Heavy can lift the equivalent of a fully loaded 737 jetliner—complete with passengers, luggage and fuel—to orbit.

      .second-screen__rocket
        img(src=require('Img/rocket.png'))
